<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="getm" method="POST">
        <div class="col-md-4">
            Enter start point<input typr="text" name="st"><br>
            Enter Destination<input typr="text" name="dt"><br>
            <button id="submit" name="getm" class="btn btn-primary btn-block">Get Map</button>
    
        </form>
      
</body>
</html>
